body{
    background-color: rgb(0, 255, 200);
    color: lightgoldenrodyellow;
}

.heading{
    width: 80%;
    font-size: 22px;
}

.name_of_object,#result_object_name,#result_object_accuracy{
    color: rgb(46, 16, 156);
}

#camera
{
    border: 4px;
    border-style: dashed;
    border-color: rgb(255, 162, 22);
    width: 350px;
    height: 300px;
}
